.info-boxes {
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  position: relative;
  width: 400px;
  margin: 10px;
  height: 250px;
  background-color: #292c38;
}
.line-box-img-1 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.line-box-img-2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

.text-box-container {
  width: 400px;
  max-height: 240;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.text-box-container h1,
p {
  margin: 5px;
  color: white;
  text-align: center;
}
.text-box-container img {
  margin-top: 25px;
  width: 70px;
}
.title-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 200px;
  background-color: #292c38;
  margin-bottom: 10px;
}
.title-box h1 {
  text-align: center;
  font-size: 42px;
  width: 100%;
  margin: auto;
  color: white;
  text-decoration: underline;
}
@media all and (max-width: 416px) {
  .text-box-container {
    margin-top: 3 0px;
    width: 350px;
    max-height: 240;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .box {
    position: relative;
    width: 350px;
    margin: 10px;
    height: 340px;
    background-color: #292c38;
  }
  .title-box {
    width: 95%;
    height: 100px;
  }
  .title-box h1 {
    font-size: 33px;
  }
}
