body {
  height: 100vh;
  margin: 0;
  font-family: Poppins, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(background.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
